<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />

        <title>{{ title }}</title>

        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='Tool_labs_logo.ico') }}" />
        <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='style.css') }}" />
    </head>
    <body>
        <div id="content-wrapper">
            <div id="menu">
<img src="//upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Tool_labs_logo.svg/120px-Tool_labs_logo.svg.png">
<div style="font:32px bold monospace; color: #555">wmopbot</div>
            </div>
            <div id="content" style="border-top: 0; border-bottom: 0">
<h1>{{ title }}</h1>
<hr/> Tool Labs – wmopbot, IRC bot for Wikimedia channels operators <br/><br/>

<p><b>wmopbot</b> is a bot that helps monitor Wikimedia channels. It warns channel operators in #wikimedia-ops 
about problems like someone spaming or flooding channel, when someone call ops with !ops command, or when an user global 
banned or with IP blocked in some wiki join some channel.
It also provide some commands to show info about banned and wiki-blocked users and to help mantaing channel ban list.</p>

<p>Some commands for safety reasons only work for who have +o in #wikimedia-ops access list, active channel operators 
in Wikimedia channels can request this access there. Suggestions to improvements and new features that help channel 
operators are welcome.</p>

<h2>Check bans and wiki block</h2><hr>
<p>Only to Wikimedia operators.</p>

<h3>!blocks <span style="color: gray">&lt;target&gt; [&lt;wiki&gt;]</span></h3>
<p>Searches for wiki blocks applyed to an user IP (target = user nick), an IP (target = IP) or all users in a specific 
channel (target = #channel). The second parameter is optional, if given it searches only for block in that wiki, or global blocks if the parameter is global.</p>

<h3>!checkban <span style="color: gray">&lt;target&gt;</span></h3>
<p>Searches for bans applyed to an user (target = user nick), an user mask (target = mask) or all users in a specific 
channel (target = #channel).</p>

<h3>!redundant <span style="color: gray">&lt;#channel&gt;</span></h3>
<p>List all ban in a channel ban list that is reduntant. A ban is considered redundant if some ban in channel's ban 
list or ban lists of other channels banned with a $j cover the ban. For example, abcdefg!*@* is covered by ab*!*@*.</p>

<h2>Warns</h2><hr>
<p>The bot warns in the folowing situations:</p>
<ul>
<li>When an unknow user with IP blocked in some wiki join some channel.
<li>When a global banned user join some channel.
<li>When some user is killed or k-lined.
<li>When some user is kickbanned.
<li>When some user flood the channel
<li>When some user send notice to channel.
<li>When some unaffiliated user send a message with a term in the black list.
</ul>
<p>Some warns are reported in #wikimeida-ops and other in another channel.</p>

<h3>!ops</h3>
<p>When someone begings the message with <code>!ops</code>, the bot will call operators in #wikimedia-ops, pinging the 
channel operators that are in #wikimedia-ops. If no channel op is avaiable to solve the question, other users in 
#wikimedia-ops can try to help. Depending of the situation, group contacts and/or freenode staffs can be called to 
interveniate in the channel when no channel operators are online.</p>

<h2>Query bot database</h2><hr>
<p>Only to Wikimedia operators.</p>

<h3>!where <span style="color: gray">&lt;nick&gt;</span></h3>
<p>List the channels where the user is. This command does not work when the target is a Wikimedia operators or an user
with a Wikimedia cloak</p>

<h3>!list <span style="color: gray">&lt;#channel%gt; &lt;filters&gt;</span></h3>
<p>List users in the channel with filters.</p>

<h3>!count <span style="color: gray">&lt;#channel[ #channel]|allchans&gt; &lt;filters&gt;</span></h3>
<p>Identical to the !list command, but only report the number of users instead of list them.</p>

<h2>Web interface</h2><hr>
<p>This web interface have a <a href="{{ url_for('login') }}">login</a> that only Wikimedia operators can access. Once logged the operetors can see some data the bot log like the kick, bans, quiets and k-lines in channels, channels access, 
ban and quiet lists, some data about users the bot already saw, a list of the Wikimedia channels and a more complete 
commands documentation.</p>
           </div>
         </div>
    </body>
</html>
