{% extends "base.html" %}
{% block content %}
<p>Actions filters:</p>
<form class="actions" action="{{ url_for('actions') }}" method="get">
<small>* and ? wildcards are allowed in all fields</small>
<p><label>User :</label><input type="text" size=40 name="user"></p>
<p><label>Channel :</label><input type="text" size=40 name="channel"></p>
<p><label>Action :</label><input type="text" size=40 name="action"></p>
<p><label>Target :</label><input type="text" size=40 name="target"></p>
<p><label>Args :</label><input type="text" size=40 name="args"></p>
<p><label>Timestamp :</label><input type="text" size=40 name="timestamp"></p>
<div style="text-align: center"><input type="submit" value="Go"></div>
</form>
<script>
actionsForm = document.forms[0];
inputs = actionsForm.getElementsByTagName('input');
actionsForm.addEventListener('submit', function(){
  for (var i = 0; i < inputs.length; i++){
    if (inputs[i].name && !inputs[i].value){
      inputs[i].name = '';
    }
  }
})
search = location.search.substring(1).split('&');
args = {};
for (var i = 0; i < search.length; i++){
  var a = search[i].split('=', 2);
  if (a.length > 1){
    args[a[0]] = decodeURIComponent(a[1]);
  }
}
for (var i = 0; i < inputs.length; i++){
  if (inputs[i].name in args){
    inputs[i].value = args[inputs[i].name];
  }
}
</script>
<h2>Actions log</h2><hr>
{% if not search %}<p>Last 50 actions</p>{% endif %}
{# actions: id, user(90), channel(50), action(10), target(90), args(255), timestamp #}
<table>
    <tr><th>#</th><th>User</th><th>Channel</th><th>Action</th><th>Target</th><th>Args</th><th>Date-time</th></tr>
{% for id, user, channel, action, target, args, dt in actions -%}
    <tr><td>{{ id }}</td><td style="background-color: #F8F8F8">{{
     user.replace('!', '<br>!').replace('@', '<br>@')|safe }}</td><td>{{
    channel }}</td><td style="background-color: #F8F8F8">{{ action }}</td><td>{{
    target|utf8 }}</td><td style="background-color: #F8F8F8">{{ args|utf8 }}</td><td>{{
    dt and dt.isoformat(' ') or '' }}</td></tr>
{% endfor -%}
</table>
{% endblock %} 
