{% extends "base.html" %}
{% block head -%}
{%- endblock %}
{% block content %}
<p>All channels listed in <a href="https://meta.wikimedia.org/wiki/IRC/Channels">meta:IRC/Channels</a>:</p>
<table id="channels-table">
     <thead><tr><th>Channel</th><th>Ops</th><th>wmfgc access</th><th>Bans</th><th>$j bans</th><th>Modes</th><th>ChanServ flags</th><th>Msg in last 7 days</th><th>Users in chan*</th><th>Sigyn in chan</th></tr></thead>
     <tbody>
{% for chan, ops, wmfgc, bans, jbans, modes, csflags, msg, users, sigyn in chanTable -%}
    <tr><td><a href="{{ url_for('info', target=chan) }}">{{ chan }}</a></td>
        <td style="background-color: #E8F8E8">{{ ops }}</td><td>{{ wmfgc }}</td>
        <td style="background-color: #F8E8E8">{{ bans }}</td><td>{{ jbans }}</td>
        <td style="background-color: #F8F8F8">{{ modes }}</td><td><small>{{ csflags }}</small></td>
        <td style="background-color: #F8F8F8">{{ msg }}</th><td>{{ users }}</td>
        <td style="background-color: #F8F8F8">{{ sigyn }}</th></tr>
{% endfor -%}
    </tbody>
</table>
        <script>new Tablesort(document.getElementById('channels-table'), {descending: true});</script>
<p style="font-size: small">* average of users in channel in the last 7 days</p>
{% endblock %} 
