<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />

        <title>Wikimedia cloak request</title>

        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='Tool_labs_logo.ico') }}" />
        <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='style.css') }}" />
        <script>
wikiuser = "{{ wikiacc }}";
usercloak = "{{ usercloak }}";
cloaktype = null;
botaccount = null;
function showcloak(){
  if (cloaktype === 'bot'){
    var bot = botaccount;
    if (bot && document.forms[0].case.value === "lower"){
      bot = bot.toLowerCase();
    }
    var cloak = bot ? document.getElementById('bot_cloak').value + bot : '' ;
    document.getElementById('cloak').value = cloak;
    document.getElementById('cloak_text').innerText = cloak;
    return
  }
  var project = document.getElementById('cloak_project').value;
  if (project === 'none'){
    document.getElementById('cloak').value = '';
    document.getElementById('cloak_text').innerText = '';
    return
  }
  if (project === 'wikimedia'){
    document.getElementById('project_remark').innerHTML =
        '<small>wikimedia/ is for users who participate in multiple projects or<br>are affiliated with the Wikimedia Foundation.</small>';
  } else if (project === 'mediawiki'){
    document.getElementById('project_remark').innerHTML =
        '<small>mediawiki/ is for MediaWiki developers with +2 access or otherwise<br>sufficiently involved with MediaWiki development.</small>';
  } else {
    document.getElementById('project_remark').innerHTML = '';
  }
  var cloak = project + wikiuser.replace(/ /g, '-');
  if (document.forms[0].case.value === "lower"){
    cloak = cloak.toLowerCase();
  }
  document.getElementById('cloak').value = cloak;
  document.getElementById('cloak_text').innerText = cloak;
}
function choosetype(typ){
  cloaktype = typ;
  usercloak = document.getElementsByClassName('usercloak');
  botcloak = document.getElementsByClassName('botcloak');
  bothcloak = document.getElementsByClassName('bothcloak');
  for (var i = 0; i < bothcloak.length; i++){
    bothcloak[i].style.display = '';
  }
  var bot = (typ == 'bot') ? '' : 'none';
  var user = (typ == 'bot') ? 'none' : '';
  for (var i = 0; i < botcloak.length; i++){
    botcloak[i].style.display = bot;
  }
  for (var i = 0; i < usercloak.length; i++){
    usercloak[i].style.display = user;
  }
}
function identifybot(div){
  ajax = new XMLHttpRequest();
  ajax.open("POST", "{{ url_for('botaccount') }}");
  ajax.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  ajax.onreadystatechange = function () {
    if (ajax.readyState == 4){
      if (ajax.status == 200){
        if (this.responseText.search(' ') == -1){
          botaccount = this.responseText;
          div.innerHTML = '<input type="text" value="' + this.responseText + '" disabled>';
          showcloak();
        } else {
          alert(this.responseText);
        }
      }
      else alert('Status error: ' + String(ajax.status));
    }
  }
  ajax.send("token={{ token }}");
}
        </script>
    </head>
    <body>
        <div id="content-wrapper">
            <div id="menu">
<img src="//upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Tool_labs_logo.svg/120px-Tool_labs_logo.svg.png">
<div style="font:32px bold monospace; color: #555">wmopbot</div>
            </div>
            <div id="content" style="border-top: 0">
    <h1>Wikimedia Cloak Request</h1><hr>
{% if message %}<p>{{ message }}</p>{% else %}
    <form id="cloakform" style="display: table" action="{{ url_for('cloakrequest') }}" method="post">
    <input type="hidden" name="token" value="{{ token }}">
    <div>
        <label>IRC account</label><br><input type="hidden" name="ircacc" value="{{ ircacc }}">
        <p style="margin-left: 10px">{{ ircacc }}</p>
    </div>
    <div>
        <label>Wiki account</label><br><input type="hidden" name="wikiacc" value="{{ wikiacc }}">
        <p style="margin-left: 10px">{{ wikiacc }}</p>
    </div>
    <div>
        <label>Request type</label><br>
        <input type="radio" name="type" value="first" onchange="choosetype(this.value)">First cloak &nbsp;
        <input type="radio" name="type" value="change" onchange="choosetype(this.value)"> Cloak change &nbsp;
        <input type="radio" name="type" value="bot" onchange="choosetype(this.value)"> Bot cloak
    </div>
    <div class="usercloak" style="display:none">
        <label>Cloak project</label><br>
        <select id="cloak_project" onchange="showcloak()">
            <option value="none" disabled selected>select one</option>
            <option value="wikimedia/">wikimedia/</option>
            <option value="wikipedia/">wikipedia/</option>
            <option value="wikibooks/">wikibooks/</option>
            <option value="wikinews/">wikinews/</option>
            <option value="wikiquote/">wikiquote/</option>
            <option value="wikisource/">wikisource/</option>
            <option value="wikiversity/">wikiversity/</option>
            <option value="wikivoyage/">wikivoyage/</option>
            <option value="wiktionary/">wiktionary/</option>
            <option value="wikidata/">wikidata/</option>
            <option value="wikimedia-commons/">wikimedia-commons/</option>
            <option value="mediawiki/">mediawiki/</option>
        </select><span id="project_remark"></span>
    </div>
    <div class="botcloak" style="display:none">
        <label>Bot IRC account</label>
        <div id="botaccount" style="text-align: center">
        Enter in IRC with the bot account and use this command:<br>
        /msg wmopbot botcloak {{ token }}<br>
        <input type="button" value="Done" onclick="identifybot(this.parentNode)">
        </div>
    </div>
    <div class="botcloak" style="display:none">
        <label>Bot cloak type</label><br>
        <select id="bot_cloak" onchange="showcloak()">
            <option value="wikimedia/bot/">wikimedia/bot</option>
            {% if usercloak %}<option value="{{ usercloak }}/bot/">{{ usercloak }}/bot</option>
            {%- else %}<option value="operator-cloak/bot/" disabled>operator-cloak/bot</option>{% endif %}
        </select>
    </div>
    <div class="bothcloak" style="display:none">
        <label>Username case</label><br>
        <input type="radio" name="case" value="original" onchange="showcloak()" checked>original &nbsp;
        <input type="radio" name="case" value="lower" onchange="showcloak()"> lower
    </div>
    <div class="bothcloak" style="display:none">
        <label>Cloak</label><br><input type="hidden" id="cloak" name="cloak" value="">
        <div style="text-align: center" id="cloak_text" style="font: bold 17px monospace"></div>
    </div>
    <br>
    <div class="bothcloak" id="submit" style="text-align: center" style="display:none">
        <input type="submit" value="Send request"/>
    </div>
    </form>
{% endif %}
            </div>
        </div>
    </body>
</html>
