{% extends "base.html" %}
{% block content %}
<h2>Bot list</h2><hr>
<p>Bots are totally ignored. Wikimedia, Freenode and AntiSpamMeta bot cloaks are listed in the code.</p>
<p>To add terms to the bot list use in IRC <code>!botlist add &lt;mask&gt;</code> to add new terms and 
<code>!botlist del &lt;mask&gt;</code> to remove. These commands works only to #wikimedia-ops operators and only in 
#wikimedia-ops, #wikimedia-ops-internal and #wikimedia-opbot.</p>
{%- if 'bot' in lists %}
<table class="wikitable", style="min-width: 80%">
    <tr><th>Entry</th><th>Added by</th><th>Time</th></tr>
{% for mask, addby, ts in lists['bot'] -%}
    <tr>
        <td>{{ mask }}</td>
        <td style="background-color: #F8F8F8">{{ addby or "" }}</td>
        <td>{{ ts and ts|ftime or "" }}</td>
    </tr>
{% endfor -%}
</table>
{% else -%}
<p>No entries in the bot list</p>
{% endif %}

<h2>Exempt list</h2><hr>
<p>Exempted users do not trigger joining warns (wikiblocks, global banned) and message warns (flood, blacklisted term).</p>
<p>To add terms to the exempt list use in IRC <code>!exempt add &lt;mask&gt;</code> to add new terms and 
<code>!exempt del &lt;mask&gt;</code> to remove. These commands works only to #wikimedia-ops operators and only in 
#wikimedia-ops, #wikimedia-ops-internal and #wikimedia-opbot.</p>
{%- if 'exempt' in lists %}
<table class="wikitable", style="min-width: 80%">
    <tr><th>Entry</th><th>Added by</th><th>Time</th></tr>
{% for mask, addby, ts in lists['exempt'] -%}
    <tr>
        <td>{{ mask }}</td>
        <td style="background-color: #F8F8F8">{{ addby or "" }}</td>
        <td>{{ ts and ts|ftime or "" }}</td>
    </tr>
{% endfor -%}
</table>
{% else -%}
<p>No entries in the exempt list</p>
{% endif %}

<h2>Track list</h2><hr>
<p>Tracked users trigger warns when they join a channel, part a channel or quit</p>
<p>To add terms to the track list use in IRC <code>!track add &lt;mask&gt;</code> to add new terms and 
<code>!track del &lt;mask&gt;</code> to remove. These commands works only to #wikimedia-ops operators and only in 
#wikimedia-ops, #wikimedia-ops-internal and #wikimedia-opbot.</p>
{%- if 'track' in lists %}
<table class="wikitable", style="min-width: 80%">
    <tr><th>Entry</th><th>Added by</th><th>Time</th></tr>
{% for mask, addby, ts in lists['track'] -%}
    <tr>
        <td><a href="{{ url_for('info', target=mask) }}">{{ mask }}</a></td>
        <td style="background-color: #F8F8F8">{{ addby or "" }}</td>
        <td>{{ ts and ts|ftime or "" }}</td>
    </tr>
{% endfor -%}
</table>
{% else -%}
<p>No entries in the track list</p>
{% endif %}

<h2>Black list</h2><hr>
<p>When an user say a blacklisted term and the user has score &lt; 2 (unknown/new user), it generate a warn.</p>
<p>To add terms to the black list use in IRC <code>!bl add &lt;term&gt;</code> to add new terms and 
<code>!bl del &lt;term&gt;</code> to remove. These commands works only to #wikimedia-ops operators and only in 
#wikimedia-ops, #wikimedia-ops-internal and #wikimedia-opbot.</p>
{%- if 'black' in lists %}
<table class="wikitable", style="min-width: 80%">
    <tr><th>Term</th><th>Added by</th><th>Time</th></tr>
{% for term, addby, ts in lists['black'] -%}
    <tr>
        <td>{{ term }}</td>
        <td style="background-color: #F8F8F8">{{ addby or "" }}</td>
        <td>{{ ts and ts|ftime or "" }}</td>
    </tr>
{% endfor -%}
</table>
{% else -%}
<p>No entries in the black list</p>
{% endif %}

{% endblock %} 
