{% extends "base.html" %}
{% block content %}
<p>Info about:
<input type="text" id="info" size=25 onkeydown="if(event.keyCode==13)location.href='{{ url_for('info') -}}
'+'/'+encodeURIComponent(this.value)"></p>
<h2>Users that fits the mask</h2><hr>
{%- if users %}
<table class="wikitable", style="min-width: 80%">
    <tr><th>User</th><th>Account</th><th>IP</th><th>Realname</th><th>Score*</th><th>Seen last time</th><th>Extra</th></tr>
{% for full, account, ip, realname, seen, score, extra in users -%}
    <tr>
        <td>{{ full.replace('!', '<br>!').replace('@', '<br>@')|safe }}</td>
        <td style="background-color: #F8F8F8">{{ account or "" }}</td>
        <td>{{ ip or "" }}</td>
        <td style="background-color: #F8F8F8">{{ realname and realname.decode('utf-8') or "" }}</td>
        <td>{{ score }}</td>
        <td style="background-color: #F8F8F8">{{ seen.isoformat(' ') }}</td>
        <td>{{ extra and extra.replace(':', ': ').replace(';', '; ')|utf8 or "" }}</td>
    </tr>
{% endfor -%}
</table>
<p><small>* every 10 minutes wmopbot adds 1 point to the score of all users it sees at that moment, so low scores means 
unknown users.</small></p>
{% else -%}
<p>No users found that fits that mask</p>
{% endif %}

<h2>Channel Bans</h2><hr>
{%- if bans %}
<table class="wikitable", style="min-width: 80%">
    <tr><th>Channel</th><th>Ban</th><th>Author</th><th>Time</th><th>Expiry</th><th>Comment</th></tr>
{% for chan, ban, args in bans -%}
    <tr><td>{{ chan }}</td><td>{{ ban }}</td><td>{{ args['user'] }}</td><td>{{ args['time']|ftime }}</td><td>
    {{- args.get('expiry', '') }}</td><td>{{ args.get('comment', '') }}</td></tr>
{% endfor -%}
</table>
{% else -%}
<p>No entries in channels ban lists</p>
{% endif %}

<h2>Channel Quiet</h2><hr>
{%- if quiets %}
<table class="wikitable", style="min-width: 80%">
    <tr><th>Channel</th><th>Ban</th><th>Author</th><th>Time</th><th>Expiry</th><th>Comment</th></tr>
{% for chan, quiet, args in quiets -%}
    <tr><td>{{ chan }}</td><td>{{ quiet }}</td><td>{{ args['user'] }}</td><td>{{ args['time']|ftime }}</td><td>
    {{- args.get('expiry', '') }}</td><td>{{ args.get('comment', '') }}</td></tr>
{% endfor -%}
</table>
{% else -%}
<p>No entries in channels quiet lists</p>
{% endif %}

<h2>Last related actions</h2><hr>
{%- if actions %}
<table>
    <tr><th>#</th><th>User</th><th>Channel</th><th>Action</th><th>Target</th><th>Args</th><th>Date-time</th></tr>
{% for id, user, channel, action, target, args, dt in actions -%}
    <tr><td>{{ id }}</td><td style="background-color: #F8F8F8">{{-
     user.replace('!', '<br>!').replace('@', '<br>@')|safe }}</td><td>{{-
    channel }}</td><td style="background-color: #F8F8F8">{{ action }}</td><td>{{-
    target }}</td><td style="background-color: #F8F8F8">{{ args }}</td><td>{{ dt and dt.isoformat(' ') or '' }}</td></tr>
{% endfor -%}
</table>
{% else -%}
<p>No actions related to that mask</p>
{% endif %}
{% endblock %} 
